//<Подключаем шрифт>=======================================================
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
//</Подключаем шрифт>=======================================================

//<Шрифт по умолчанию>=======================================================
$fontfamily: "Noto Serif";
//</Шрифт по умолчанию>=======================================================

@import "_nullstyle";

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
}

@import "_header";
@import "_footer";

.header {
  // .header__bg

  &__bg {
    background-image: url(../img/full-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  // .header__body

  &__body {
    //background-color: blanchedalmond;
    height: 100vh;
    flex: 1 1 auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  // .header__title

  &__title {
    font-size: 50px;
    line-height: 75px;
  }

  // .header__text

  &__text {
    background: rgba($color: #797979, $alpha: 0.4);
    font-size: 25px;
    line-height: 30px;
    color: black;
  }

  // .header__link

  &__link {
    color: black;
    font-size: 20px;
    display: inline-block;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    //background-color: gray;
    align-self: center;
    padding: 0 20px;
    border-radius: 10px;
  }
  &__link:hover {
    text-decoration: underline;
  }
}

.content {
  background-color: black;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  

  // .content__body

  &__body {
    height: 100vh;
    flex: 1 1 auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
}
.content::before {
  display: block;
  content: "";
  height: 30px;
  margin: -30px 0 0;
}

.generator {
  background-color: gray;
  border-radius: 50px;
  height: 18%;
  text-align: center;
  display: flex;
  flex-direction: column;
  // .generator__title

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 0;
  }

  // .generator__menu

  &__menu {
  }

  // .generator__body

  &__body {
    display: flex;
    justify-content: space-around;
  }

  // .generator__season

  &__season {
    padding: 5px 10px;
  }

  // .generator__city

  &__city {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
  }

  // .generator__weather

  &__weather {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
  }

  // .generator__health

  &__health {
    padding: 5px 10px;
  }

  // .generator__arm

  &__arm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
  }

  // .generator__name

  &__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
  }
}
.city {
  // .city__title

  &__title {
    padding: 0 0 10px 0;
  }

  // .city__input

  &__input {
  }
}
.weather {
  // .weather__checkbox

  &__checkbox {
    padding: 0 0 10px 0;
  }

  // .weather__select

  &__select {
  }
}
.arm {
  // .arm__checkbox

  &__checkbox {
    padding: 0 0 10px 0;
  }

  // .arm__select

  &__select {
  }
}
.name {
  // .name__title

  &__title {
    padding: 0 0 10px 0;
  }

  // .name__input

  &__input {
  }
}
.letter {
  margin-top: 20px;
  flex: 0 1 auto;
  height: 90%;
  max-height: 600px;
  background-image: url(..//img/letterBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  max-width: 100%;
  // .letter__hello

  &__hello {
    writing-mode: vertical-rl;
    font-family: "Noto Serif JP";
    font-size: 20px;
    line-height: 50px;
    text-align: start;
    align-self: flex-start;
    word-wrap: break-word;
    word-break: keep-all;
  }

  // .letter__body

  &__body {
    flex: 0 0 auto;
    writing-mode: vertical-rl;
    font-family: "Noto Serif JP";
    font-size: 20px;
    line-height: 50px;
    text-align: start;
    hyphens: auto;
    align-self: flex-start;
    word-wrap: break-word;
    word-break: keep-all;
  }

  // .letter__bye

  &__bye {
    writing-mode: vertical-rl;
    font-family: "Noto Serif JP";
    font-size: 20px;
    line-height: 50px;
    text-orientation: upright;
    text-align: start;
    align-self: flex-start;
    word-break: keep-all;
  }

  // .letter__date

  &__date {
    writing-mode: vertical-rl;
    font-family: "Noto Serif JP";
    font-size: 20px;
    line-height: 50px;
    text-orientation: upright;
    align-self: flex-start;
    text-align: start;
    word-break: keep-all;
  }

  // .letter__name

  &__name {
    writing-mode: vertical-rl;
    font-family: "Noto Serif JP";
    font-size: 20px;
    line-height: 50px;
    align-self: flex-end;
    text-align: end;
  }
}

.btn-letter {
  padding: 15px;
}
.btncls {
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
}
